---
language: ruby
script:
  - "bundle exec rspec --format d"

rvm:
  - 1.9.3
  - 2.0
  - 2.1
  - 2.2

addons:
  code_climate:
    repo_token: 46e34356104fbee7adc66a371d37939391bbee5c126978ed8cbb330eeab8a5d0

